/* -------------------------------------- Hero image */
#hero {
    background: url(../images/hero.jpeg) center center;
    background-size: cover;
    background-attachment: fixed;
}

/* -------------------------------------- About image */
.about {
    background: url(../images/about-b.png) center center;
    background-size: cover;
    background-attachment: fixed;
}

/* -------------------------------------- h3 Styling */
h3 {
    text-decoration: underline 3px solid #cda45d; 
}

/* -------------------------------------- Why-us img styling */
.why-us .box-fine-dining:hover {
    background: url(../images/fine-dining.png) center center;
    background-size: cover;
    color: none;
}

.why-us .box:hover h4, .why-us .box:hover p {
    color: #fff0;
}

.why-us .box-saloon-pub:hover {
    background: url(../images/saloon-pub.png) center center;
    background-size: cover;
}

.why-us .box-cabin:hover {
    background: url(../images/cabin.jpeg) center center;
    background-size: cover;
}
